#root {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

/* .leftSide {
  right: 0;
  width: 60%;
} */

/* & .light {
    position:absolute;
    right: 5rem;
    width: 55%;
    margin-top: 13rem;
    border-left: 12rem solid transparent;
    border-right: 9rem solid transparent;
    border-bottom: 23rem solid rgba(255, 228, 196, 0.192);
  } */

.popupCase {
  animation: comeHereCase 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes comeHereCase {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.98;
  }
}

.pin {
  animation: comeHerePin 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

.popup {
  animation: comeHere 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes comeHerePin {
  0% {
    opacity: 0;
    transform: translateY(-50rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes comeHere {
  0% {
    opacity: 0;
    transform: translate(-50rem, -50rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.moveLeft {
  animation: moveLeft 0.8s ease-in-out;
}

@keyframes moveLeft {
  0% {
    transform: translateX(-4rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.moveRight {
  animation: moveRight 0.8s ease-in-out;
}

@keyframes moveRight {
  0% {
    transform: translateX(4rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.moveBottom {
  animation: moveBottom 0.6s ease-in-out;
}

@keyframes moveBottom {
  0% {
    transform: translateY(7rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.titleAnimation {
  animation: titleAnimation 1s ease-in-out;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .animatedBack,
  .animatedOut {
    background-image:
      linear-gradient(
        transparent 50%,
        #e7daf0 50%,
        #ae8fdb 85%,
        transparent 85%,
        transparent 100%
      );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition:
      background-size 1s cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 0.3s ease-in-out;
  }

  .active {
    background-size: 100% 100%;
    transform: scale(1.2);
  }

  .reverse {
    background-size: 0% 100%;
    transform: scale(1);
  }
}
