@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Mosk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: 600;
  color: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Mosk";
  font-weight: 300;
  src: url('./fonts/Mosk-Light-300.ttf') format('truetype');
}

@font-face {
  font-family: "Mosk";
  font-weight: 400;
  src: url('./fonts/Mosk-Normal-400.ttf') format('truetype');
}

@font-face {
  font-family: "Mosk";
  font-weight: 600;
  src: url('./fonts/Mosk-Semi-Bold-600.ttf') format('truetype');
}

@font-face {
  font-family: "Mosk";
  font-weight: 700;
  src: url('./fonts/Mosk-Bold-700.ttf') format('truetype');
}

@font-face {
  font-family: "Mosk";
  font-weight: 800;
  src: url('./fonts/Mosk-Extra-Bold-800.ttf') format('truetype');
}

@font-face {
  font-family: "Mosk";
  font-weight: 500;
  src: url('./fonts/Mosk-Medium-500.ttf') format('truetype');
}

svg {
  height: 30px;
  width: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  button {
    background-color: #f9f9f9;
  }
}
